.Button {
  text-align: center;
  background: map(primaryButtonColor);
  padding: 10px;
  margin: 0;
  border: map(transparentBorder);
  border-radius: map(borderRadius);
  width: 100%;
  color: #ffffff;
}
