.InputWrapper {
  width: 100%;
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.Input {
  border-style: solid;
  border-width: 2px;
  border-color: #bdc3c7;
  transition: border-color 0.6s;
  border-radius: 6px;
  padding: 6px 10px;
  outline: none;
  box-sizing: border-box;
  appearance: normal;
  font-size: 1em;
  width: 100%;
}

.Required {
  position: relative;
  margin-top: -23px;
  margin-right: 13px;
  float: right;
  color: red;
}
