.NavItem {
  padding: 4px 7px;
  background: #333;
  color: white;
  border: map(border);
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.NavItemActive {
  composes: NavItem;
  background: #fff;
  color: #333;
  transition: background 600ms ease;
}

.NavItemWrapper {
  padding: 4px 7px;
  margin: 7px 0 0 7px;
}
