.Notification {
  position: fixed;
  top: -50px;
  left: 15px;
  color: white;
  width: calc(100% - 60px);
  text-align: center;
  vertical-align: center;
  padding: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: top 300ms ease;
}

.NotificationSuccess {
  composes: Notification;
  background: green;
}

.NotificationSuccessShown {
  composes: NotificationSuccess;
  top: 0;
}

.NotificationWarning {
  composes: Notification;
  background: yellow;
}

.NotificationWarningShown {
  composes: NotificationWarning;
  top: 0;
}

.NotificationError {
  composes: Notification;
  background: red;
}

.NotificationErrorShown {
  composes: NotificationError;
  top: 0;
}
