.FormWrapper {
  padding: 30px;
  width: 260px;
  margin: auto;
  div {
    margin-bottom: 10px;
  }
}

.AreaCode {
  composes: Input from 'components/Input.css';
  width: 40px;
}

.Button {
  background: #88f888;
}
