.InputWrapper {
  width: 100%;
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.Select {
  border-style: map(border);
  background: #fff;
  border-radius: map(borderRadius);
  padding: 6px 10px;
  outline: none;
  box-sizing: border-box;
  appearance: normal;
  font-size: map(fontSize);
  width: 100%;
}
