.Table {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 15px;
  border-radius: 6px;
  height: calc(100vh - 120px);
}

.Header {
  flex: 0 0 auto;
  display: flex;
  background: #efefef;
  padding: 5px 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.TableBody {
  flex: 1;
  overflow: auto;
}

.Row {
  display: flex;
}

.Cell {
  flex: 1 auto;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  padding: 5px;
}

.Phone {
  composes: Cell;
  flex: 0 auto;
  width: 120px;
}

.State {
  composes: Cell;
  flex: 0 auto;
  width: 45px;
}

.Zip {
  composes: Cell;
  flex: 0 auto;
  width: 60px;
}
