.Skeleton {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: map(primaryFont);
}

.Header {
  flex: 0 auto;
  background: map(primaryColor);
}

.Content {
  flex: 1 auto;
  overflow: auto;
  background: #fff;
  max-width: 700px;
  display: flex;
  justify-content: center;
}

.Title {
  position: absolute;
  left: 104px;
  top: 17px;
  font-size: 35px;
  color: white;
}
